h1 {
    text-align: center;
}

.core {
    margin: auto;
    width: 80%;
    min-width: 500px;
}

.error {
    font-weight: bold;
    color: "red";
}

.hide {
    display: none;
}

.waiter {
    text-align: center;
}
