h1 {
    text-align: center;
}

body {
    margin: 0;
}

textarea {
    resize: none;
}

.button {
    border: solid 1px #0099ff;
    border-radius: 10px;
    background: #0099ff;
    color: white;
    padding: 3px;
    margin-right: 5px;
}
.button:hover {
    background: white;
    color: #0099ff;
}

.button_topsnap {
    border: solid 1px #0099ff;
    border-radius: 0 0 10px 10px;
    background: #0099ff;
    color: white;
    padding: 3px;
}
.button_topsnap:hover {
    background: white;
    color: #0099ff;
}

.centered {
    text-align: center;
}

.core {
    margin: auto;
    width: 80%;
    min-width: 320px;
    position: relative;
    padding-top: 50px;
}

.error {
    font-weight: bold;
    color: red;
}
div.error {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.panel_connect {
    text-align: center;
}

.panel_deconnect {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

.project_grid {
    margin: auto;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 20px;
}

.project_box {
    border: solid 2px #ddd;
    padding: 7px;
}

.project_box > a {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}
.project_box > a:hover {
    text-decoration: underline;
}

.project_box > button {
    float: right;
}

.zone_status {
    width: 60%;
    max-width: 300px;
    height: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-bottom: solid #ddd 1px;
    padding: 0 7px;
}
.zone_status button {
    float: right;
}

.zone_test {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 0;
}

.waiter {
    text-align: center;
}

@media only screen and (max-width: 1150px) {
    .project_grid {
        grid-template-columns: 49% 49%;
    }
}

@media only screen and (max-width: 710px) {
    .project_grid {
        grid-template-columns: 100%;
    }
}
