h1 { text-align: center; }

body { margin: 0; }

textarea {
    resize: none;
    width: 90%;
}

/* BUTTONS CLASSES */

.button {
    border: solid 1px #0099ff;
    border-radius: 10px;
    background: #0099ff;
    color: white;
    padding: 3px;
    margin: auto 5px;
}
.button:hover {
    background: white;
    color: #0099ff;
}

.button_round {
    border: solid 1px #0099ff;
    border-radius: 10px;
    background: #0099ff;
    color: white;
    padding: 3px;
    margin: auto 5px;
    width: 22px;
    height: 22px;
}
.button_round:hover {
    background: white;
    color: #0099ff;
}
.button_round:hover > svg > .iconsBlock {
    stroke: #0099ff;
    fill: #0099ff;
}
.button_round:hover > svg > .iconsLine {
    stroke: #0099ff;
}

.button_bottomsnap {
    border: solid 1px #0099ff;
    border-radius: 10px 10px 0 0;
    margin: auto 5px;
    background: #0099ff;
    color: white;
    padding: 3px;
}
.button_bottomsnap:hover {
    background: white;
    color: #0099ff;
}
.button_bottomsnap:hover > svg > .iconsBlock {
    stroke: #0099ff;
    fill: #0099ff;
}
.button_bottomsnap:hover > svg > .iconsLine {
    stroke: #0099ff;
}

.button_rightsnap {
    border: solid 1px #ff7700;
    border-radius: 10px 0 0 10px;
    margin: auto;
    margin-right: 0;
    background: #ff7700;
    color: white;
    padding: 3px;
    position: fixed;
    width: 26px;
    height: 22px;
}
.button_rightsnap:hover {
    background: white;
    color: #ff7700;
}
.button_rightsnap:hover > svg > .iconsBlock {
    stroke: #ff7700;
    fill: #ff7700;
}
.button_rightsnap:hover > svg > .iconsLine {
    stroke: #ff7700;
}

.button_topsnap {
    border: solid 1px #0099ff;
    border-radius: 0 0 10px 10px;
    margin: auto 5px;
    background: #0099ff;
    color: white;
    padding: 3px;
}
.button_topsnap:hover {
    background: white;
    color: #0099ff;
}
.button_topsnap:hover > svg > .iconsBlock {
    stroke: #0099ff;
    fill: #0099ff;
}
.button_topsnap:hover > svg > .iconsLine {
    stroke: #0099ff;
}

/* UTILS CLASSES */

.centered { text-align: center; }

.core {
    margin: auto;
    margin-bottom: 120px;
    width: 80%;
    min-width: 550px;
    max-width: 900px;
    position: relative;
    padding-top: 50px;
}

.error {
    font-weight: bold;
    color: red;
}
div.error {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide { display: none; }

.iconsLine, .iconBlock {
    stroke-width: 2;
    stroke: white;
}
.iconsLine { fill: transparent; }

.iconsBlock { fill: white; }

.indicators_progress { margin-top: 5px; }

.indicators_progress > span {
    margin: auto 2px;
    padding: 1px 8px;
    color: white;
}

.indicators_tracker > .progress_bar { width: calc(100% - 70px); }

.indicators_tracker > .indicators_progress { float: left; }

.indicators_tracker > hr { margin-top: 0; }

.indicators_tracker > .button_bottomsnap { float: right; }

.progress_bar {
    width: 96%;
    margin-top: 10px;
}
.progress_bar > div {
    float: left;
    margin: 0;
    padding: 0;
    border: 0 !important;
    height: 6px;
}

.round_box { border-radius: 10px; }

.waiter {
    margin-top: 40px;
    text-align: center;
}

/* CONNECTIONS CLASSES */

.panel_connect { text-align: center; }

.panel_deconnect {
    width: 50px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

/* PROJECT CLASSES */

.project_grid {
    margin: auto;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 20px;
}

.project_box {
    border: solid 2px #ddd;
    padding: 7px;
}

.project_box > a {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}
.project_box > a:hover {
    text-decoration: underline;
}

.project_box > button {
    float: right;
}

.project_desc { margin-top: 40px; }

.dnd_color {
    background: #ff7700;
    color: white;
    border: solid 1px #ff7700;
}

.project_dnd_manager {
    position: fixed;
    top: 100px;
    right: 0;
    width: 300px;
    border-radius: 0 0 0 5px;
    border: solid 1px #ff7700;
    background: white;
    padding: 2px;
}

.project_dnd_taskbar {
    height: 20px;
    border-radius: 10px;
    padding-left: 5px;
    margin: 0 auto;
    width: 260px;
    float: left;
}

.project_dnd_button_round {
    border: solid 1px #ff7700;
    border-radius: 10px;
    background: #ff7700;
    color: white;
    padding: 3px;
    margin: auto 5px;
    width: 22px;
    height: 22px;
}
.project_dnd_button_round:hover {
    color: #ff7700;
    background: white;
}
.project_dnd_button_round:hover > svg > .iconsBlock {
    stroke: #ff7700;
    fill: #ff7700;
}
.project_dnd_button_round:hover > svg > .iconsLine {
    stroke: #ff7700;
}

.project_end {
    margin: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.project_tracker {
    position: fixed;
    top: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    width: 80%;
    max-width: 900px;
    margin: auto;
}

/* TASKS CLASSES */

.task_line {
    height: 20px;
    margin: 5px auto;
}

.task_line > button { float: right; }

.task_line > .button_round { margin-right: 0; }

.task_bar {
    height: 20px;
    padding-left: 5px;
    margin: 0 auto;
    width: 70%;
    float: left;
}
.task_bar:hover {
    background: white;
    color: black;
}

.task_bar > input { height: 15px; }

.task_desc {
    max-height: 300px;
    overflow: auto;
}

.task_select {
    height: 22px;
    float: right;
}

.task_subtasks {
    padding-left: 5px;
    padding-right: 1px;
    margin-bottom: 5px;
    border: solid 1px gray;
    border-top: none;
}

/* STATUS COLORS */

.done_color {
    background: #09f;
    border: solid 1px #09f;
    color: white;
}

.wait_color {
    background: #adf;
    border: solid 1px #adf;
}

.wip_color {
    background: #6cf;
    border: solid 1px #6cf;
}

.total_color {
    background: black;
    border: solid 1px black;
}

.zone_status {
    width: 60%;
    max-width: 300px;
    height: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: auto;
    background: white;
    border-bottom: solid #ddd 1px;
    padding: 0 7px;
}
.zone_status button {
    float: right;
    margin-left: 5px;
}

/* TESTS CLASSES (DO NOT ERASE, ALWAYS VALID!) */

.zone_test {
    width: 100%;
    text-align: center;
    margin: auto;
    position: fixed;
    bottom: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1150px) {
    .project_grid {
        grid-template-columns: 49% 49%;
    }
}

@media only screen and (max-width: 710px) {
    .core {
        width: 95%;
    }
    .project_grid {
        grid-template-columns: 100%;
    }
}
